<h1>Listing Ships</h1>
<td><%= link_to 'New', new_ship_path %></td>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th colspan="2">Actions</th>
  </tr>
  <% @ships.each do |ship| %>
      <tr>
        <td><%= ship.name %></td>
        <td><%= ship.size %></td>
        <td><%= link_to 'Show', ship_path(ship) %></td>
        <td><%= link_to 'Edit', edit_ship_path(ship) %></td>
      </tr>
  <% end %>
</table>
