<%= form_for :ship, url: ships_path do |f| %>

    <% if @ship.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@ship.errors.count, "error") %> made so that the ship could not be saved:
          </h2>
          <ul>
            <% @ship.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :size %><br>
      <%= f.number_field :size %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>

<%= link_to 'Back', ships_path %>